html
    head
        title= "Thermostat"
        script(src='../dbUtils.js')
        script(src='/jquery-3.1.1.min.js')
        script(src='/googleClient.js')
        script(src='/socket.io/socket.io.js')

    body#pageBody
        #uno(class= 'base') uno
        #due(class= 'base') due


        
